

/* CSS */

  
 
  html, body{ background-image: url(choose.png);
    background-position: center;
    background-size: cover;
    background-attachment:fixed;; font-family : 'Alkatra'; height: 100%; width: 100%; margin: 0;}
  
    header{
        position: fixed;
        top: 1px;0;
        left:0;
        width: 100%;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        z-index: 100; 
       
       
       }
       .logo{
         width: 130px; 
         cursor:pointer;
         margin: 10px;
       }
       .nav a {
         text-decoration: none;
         color:#bbc8ce;
         pading:6px 15px;
         border-radius: 20px;
         margin: 0 10px;
         font-weight: 600;
         font-size: 20px;
       }
       .nav a:hover, .nav a.active{
         background: #d0a311;
         color:#fff;
         
       }
       
       .content
       {
           top: 50%;
           position: fixed;
           transform: translateY(-50%);
           color: #ffffff02;
          line-height: 10px; 
       }
  #holder{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background: rgba(255, 255, 255, 0.689);
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    position: relative;
    top: 60%;
    transform: translateY(-65%);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
    border-radius: 2px;
  }
  #holder h4{
    font-family: 'Alkatra';
    font-size: 40px;
    font-weight: 600;
    color: rgb(248, 164, 8);
    text-align: center;
    font-style: oblique;
    font-variant: unset;
    font-weight: 900;
  }
  #holder h4 span{
    color: rgb(248, 120, 8);
  }
  .button {
    background: #3D4C53;
    margin : 80px auto;
    width : 400px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #52C0DC;
    left : -250px;
    transition : .3s;
  }
  .btnText {
    color : white;
    transition : .3s;
  }
  .btnText2 {
    margin-top : 63px;
    margin-right : -130px;
    color : #FFF;
  }
  .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -130px;
  }
  .button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }
  .aim
 {
     width: 70px;
     position: absolute;
     right: -40%;
     top: -90%;
     bottom: 0;
     animation:levitation 2s infinite alternate linear;
 }

@keyframes levitation{
  0%{top:40%;
  }

  100%{top:30%;}
}
 